<div class="ba-page-grid" *ngIf="content">
  <nav ba-sidenav *ngIf="content.sidenav" [sidenavData]="content.sidenav"></nav>

  <ba-page-header
    [title]="content.title"
    [description]="content.description"
    [contributors]="content.contributors"
    [properties]="content.properties"
    [wiki]="content.wiki"
    [themable]="content.themable"
  ></ba-page-header>

  <main class="ba-page-main" id="main" role="main">
    <article class="ba-single-page-content">
      <ba-page-content [data]="content.content"></ba-page-content>
    </article>
  </main>

  <!-- <ba-toc *ngIf="content.toc"></ba-toc> -->

  <ba-page-footer [tags]="content.tags" [relatedTopics]="content.related">
  </ba-page-footer>
</div>
